/*reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*reset end */
/*main */
.container {
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 24px;
}
.section {
  padding-left: 156px;
  padding-right: 156px;
  max-width: 1440px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}
.item {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.image {
  width: 100%;
  height: auto;
}

.return-btn {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.99;
  letter-spacing: 0.09em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 8px 8px;
  width: 280px;
}

.return-btn:hover {
  background-color: #6c8cff;
}
