/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Reset end */

/* Main styles */
.section {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1440px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 355px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
}
.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
#datetime-picker {
  box-sizing: border-box;
  min-width: 272px;
  min-height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: auto;
  padding-bottom: 8px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #808080;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
button[data-start] {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  min-width: 75px;
  min-height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  background: #cfcfcf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}
