/*Date Picker Modal*/
.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 355px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
}
.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
#datetime-picker {
  box-sizing: border-box;
  min-width: 272px;
  min-height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: auto;
  padding-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:focus {
  border: 1px solid #4e75ff;
}
.datetime-picker-disabled {
  background-color: #fafafa;
}
button[data-start] {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  min-width: 75px;
  min-height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  background: #cfcfcf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  transition: background-color 350ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

button[data-start]:hover {
  background-color: #6c8cff;
  color: #fff;
}

.flatpickr-calendar.flatpickr-calendar {
  border-radius: 8px;
  width: 280px;
  max-height: 100%;
  top: 83px !important ;
  background: #f5f5f5;
}
/*Set spans*/
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  display: flex;
  padding-left: 0px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 0px;
  align-items: center;

  height: 16px;
  width: 16px;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
  display: flex;
  padding-left: 16px;
  padding-right: 0px;
  padding-top: 16px;
  padding-bottom: 0px;
  align-items: center;

  height: 16px;
  width: 16px;
}
/*Set spans END */
/*Set DataPicker Input And YearPicker*/
.flatpickr-calendar .flatpickr-months.flatpickr-months {
  display: flex;
  padding: 16px 16px 0px 16px;
}
.flatpickr-calendar .flatpickr-months .flatpickr-month {
  height: 20px;
  width: 248px;
  display: flex;
  justify-content: center;
}
.flatpickr-month
  .flatpickr-current-month.flatpickr-current-month.flatpickr-current-month {
  padding: 0px;
  display: flex;
  align-items: stretch;
  width: 159px;
  height: 20px;
  justify-content: space-between;
  left: 0%;
  position: unset;
}
.flatpickr-current-month
  .flatpickr-monthDropdown-months.flatpickr-monthDropdown-months {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
  appearance: none;
  padding: 0px;
}
.flatpickr-current-month .numInputWrapper .numInput {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
  appearance: none;
}
/*Set second and third containers */
.flatpickr-innerContainer.flatpickr-innerContainer {
  justify-content: center;
  margin-top: 24px;
  min-height: 248px;
  padding-bottom: 16px;
}
.flatpickr-innerContainer .flatpickr-rContainer {
  border: none;
  max-width: 248px;
}
.flatpickr-weekdaycontainer {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2e2f42;
}
.flatpickr-rContainer .flatpickr-weekdays {
  height: 24px;
  margin-bottom: 16px;
}
.flatpickr-rContainer .flatpickr-days {
  width: 100%;
}

.flatpickr-days .dayContainer {
  min-width: 248px;
  row-gap: 16px;
  justify-content: space-between;
}
.dayContainer .flatpickr-day {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #666;
  max-width: 32px;
  max-height: 32px;
  border-radius: 100%;
  stroke-width: 1px;
  stroke: #4e75ff;

  display: flex;
  align-items: center;
}
.flatpickr-time .numInputWrapper .numInput {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
}
/* day state*/

.flatpickr-day.selected.selected {
  background-color: #4e75ff;
  border-color: transparent;
}
.flatpickr-day.today.today {
  border-color: #4e75ff;
}
.dayContainer .flatpickr-day:hover,
.dayContainer .flatpickr-day:focus,
.dayContainer .selected.selected:focus,
.dayContainer .selected.selected:hover {
  background-color: #c1c1c1;
  border-color: transparent;
}

.normal-btn {
  background-color: #4e75ff !important;
  color: #fff !important;
}
